.site-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    #preview-container {
        width: 80%;
        padding-left: 30px;
        height: auto;
        display: flex;
        flex-direction: column;
        .pdf-embed {
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            min-height: 600px;
        }
        .button-download {
            padding: 5px;
            width: 120px;
            margin: 10px auto 0 auto;
        }
    }
}

#form {
    display: flex;
    flex-direction: column;
    width: 20%;
    #coach {
        display: none;
    }
    #coach-label {
        display: none;
    }
    input {
        margin: 10px;
        padding: 7px;
    }
    label {
        margin-left: 10px;
    }
    button {
        padding: 10px;
    }
}

@media (max-width: 1200px) {
    .site-body {
        flex-direction: column;
        padding: 30px 0;
        #preview-container {
            padding-left: 0;
            width: 100%;
            margin-top: 20px;
            .pdf-embed {
                width: 100%;
            }
        }
    }

    #form {
        width: 100%;
    }
}